<div class="footer group">
  <ul class="powered">
    <li>Powered by:</li>
    <li>
      <a href="http://systeminsights.com" title="System Insights" target="_blank" >
        <img class="center" src="/images/SI_logo.png" alt="System Insights"/>
      </a>
    </li>
  </ul>
</div>