<div class="group">
  <ul class="topmenu">
    <li><%= link_to 'New analysis', new_analysis_url %></li>
    <li>|&nbsp; &nbsp;<%= link_to 'Edit analysis', edit_analyses_url %></li>
    <li>|&nbsp; &nbsp;<%= link_to 'Logout', logout_url %></li>
  </ul>
</div>